@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('keen-slider/keen-slider.min.css'); */
  @layer base {
    
    :root {
      --primary: 174 100% 25%;
      --secondary: 56 99% 66%;
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 174 100% 25%;
      --primary-foreground: 210 40% 98%;

      --secondary:  56 99% 66%;;
      --secondary-foreground: 174 100% 25%;

      --muted:  56 99% 66%;;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent:  56 99% 66%;;
      --accent-foreground: 174 100% 25%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 174 100% 25%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border selection:bg-primary selection:text-white;
    }
    .drop-shadow {
      filter: drop-shadow(2px 1px 6px rgb(0 0 0 / 0.5));
    }
    .duration-1500 {
      transition-duration: 1000ms !important;
    }
    body {
      @apply bg-background text-foreground;
      font-family: "Josefin Sans", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
    }
    .mask-image {
      background-image: linear-gradient(to top, var(--primary) 8%, #ffffff00 100%);;
      mask-image: url('../public/mask-2.svg');
      mask-size: cover;
      mask-repeat: no-repeat;
      mask-position: left top;
    }
    .btn-mask {
      mask-image: url('../public/SVG/shape-btn.svg');
      mask-size: cover;
      mask-repeat: no-repeat;
      mask-position: left top;
    }
    .cursor {
      
    }
    .mask {
      @apply absolute ;
      mask-image: url('../public/SVG/circle.svg');
      background-color: var(--primary);
      mask-repeat: no-repeat;
      mask-size: 40px;
      color: var(--secondary);
    }
    .avatar-mask {
      mask-image: url('../public/SVG/avatar-mask.svg');
      background-color: var(--primary);
      mask-size: cover;
      mask-repeat: no-repeat;
      mask-position: 0px -90px;
    }
  }